.widgets-wrap {
    margin: 5px 10px;
}

.widget {
    width: 200px;
    height: 200px;
    background: #fff;
    float:left;
    margin: 3px;
}

.widget-icon-wrap {
    width: 32px;
    height:32px ;
}

.widget-config-wrap {
    width: 32px;
    height:32px ;
    /*background: red;*/
    padding: 0px;
}

.widget-config-button {
    padding: 0px;
    margin: 0px;
    background: inherit;
}

.widget-config-wrap > img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.widget-config-wrap > img:hover {
  cursor: pointer;
}

.widget-name {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    /*border-bottom: 1px solid rgba(0,200,0,0.3);*/
}

.widget-content {
    text-align: center;
}
.widget-content > h1 {
    font: 40px 'Palatino', sans-serif;
    margin: 0px 0px 5px 0px;
    text-shadow: 0.5px 0 0.5px rgba(150,150,150,0.5),
    0 0.5px 0.5px rgba(150,150,150,0.5),
    -0.5px 0 0.5px rgba(150,150,150,0.5),
    0 -0.5px 0.5px rgba(150,150,150,0.5);
}

.widget-content > p {
    align-content: center;
    margin: 0px 0px 10px 0px;
    color: #777;
    font: 18px 'Palatino', sans-serif;
}


.widget-name {
    padding: 5px;
}
.widget-name > span {
    margin: auto;
    width: 100%;
    height: 100%;
    color: #555;
    font-weight: normal;
    font: 18px 'Palatino', sans-serif;
    padding: 5px;
}

.widget-table {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.widget-keyword {
    text-align: center;
    font: 13px 'Palatino', sans-serif;
    color: #666;
}


#widget_modal_window  {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#widget_window
{
    background: #3b4148;
    text-align: left;
    padding: 15px;
    border: 2px solid #313142;
    border-radius: 6px;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#widget_window {
    width: 350px;
    height: 250px;
}


#widget_modal_window:target
{display: block;}

.close_modal_widget, .apply_modal_widget{
    width : 100px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 10pt;
    cursor:pointer;
    vertical-align: bottom;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}

.close_modal_widget {
    background: #ccc;
    color: #333;
}

.apply_modal_widget {
    background: #2e8b00;
    color: #eee;
}
.close_modal_widget:hover
{background: #aaa;}

.apply_modal_widget:hover {
    background: #267200;
}

.modal-field-name {
    margin: 5px 0px 2px 0px;

}

#widget_window_content {
    margin: 0px auto;
    width: 65%;
}

.modal_buttons {
    margin: 40px auto;
    text-align: center;
}

.choose-color-menu, .choose-icon-menu {
    margin: 1px 0px;
    width: 100%;
    background-color: #575b67;
    border: 1px solid #383838;
    height: 30px;
    color: #ccc;
    padding: 0px 0px;
    vertical-align: top;
}

.choose-color-menu:focus, .choose-icon-menu:focus {
    outline-color: #fff;
}

.choose-color-menu > option:hover, .choose-icon-menu > option:hover {
    background-color: #2e8b00;
    color:white;
}

.widget-icon {
    width: 32px;
    height: 32px;
}

.widget-custom-ui {
    margin-top: 5px;
    width: 98%;
    padding: 0px;
}

.widget-custom-ui  td {
    padding: 0px;
    border: 0px solid black;
}


