#logic-content {
    font: 16px Tahoma, sans-serif;
}

.control_command_block {
    height: 50px;
    /*width: 250px;*/
    background: #f6f6f6;
    /*float: left;*/
    margin: 5px 0px;
    border: 1px solid #c5c5c5;
    padding: 0px 4px;
    display: inline-block;
    font-size: 15px;
}

.control_command {
    width:100%;
    height: max-content;
}

/*.select_command_name {*/
/*    width: 220px;*/
/*}*/
/*.select_command_action {*/
/*    width: 120px;*/
/*}*/

/*.if-block {*/
/*    width: 50px;*/
/*}*/

/*.if-object {*/
/*    width: 100px;*/
/*}*/

/*.condition-block {*/
/*    width: 50px;*/
/*}*/

.control_command .control_command_block:not(:first-child) {
    border-left: 0px;
}

.control_command_body {
    padding: 0px;
    height: 80%;
    background: transparent;
}
.control_command_margin {
    height: 10%;
}

.control_command_table {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

#logic-content input[type="number"] {
    width: 40px;
    margin: 0px 2px;
}

.add_new_command {
    width: 99%;
    height: 60px;
    float: left;
    border: 1px solid green;
    cursor: pointer;
    position: relative;
    background: #fff;
}

.add_new_command:hover {
    width: 99%;
    height: 60px;
    float: left;
    border: 1px solid  #5aaf5a;;
    cursor: pointer;
    position: relative;
    background: #fff;
}

.logic-block-submit {
    cursor: pointer;
}

.add_command_img {
    position: relative;
    margin: 4px auto 5px auto;
    width: 50px;
    height: 50px;
    background: green;
    display: table-cell;
    vertical-align: middle;
}
.add_command_img:hover {
    background: #5aaf5a;
}

.highlight_button {
    /*border-radius: 4px;*/
    /*border-left*/
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.highlight_button {
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
}

.highlight_button:hover {
    background-color: rgb( 75, 183, 141 );
}
